.layui-container h4 {
    text-align: center;
    font-size: 36px;
}

.layui-container .title-word {
    margin: 80px auto;
}

.layui-container .title-word p {
    margin-bottom: 32px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    color: rgb(79, 79, 79);
}

.layui-container .title-word span {
    font-size: 22px;
    font-weight: 600;
    color: rgb(1, 1, 1)
}